{% extends "layout.html" %}
{% block content %}
<div class="pagetitle">
    <div id="result"></div>
        <div class="row">
        <div class="col-md-10">
        <h1>{{title}}</h1>
        </div>
        <div class="col-md-2" style="text-align:right;">
        <a href="#" class="btn btn-primary" id="GenerateTegralProduct"><span class="spinner-border spinner-border-sm generate-spinner" role="status" aria-hidden="true" style="display: none;"></span><i class="bi arrow-clockwise"></i> Generate</a>
        </div>
    </div>
</div><!-- End Page Title -->
<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-12">
      <div class="row">
        {% if product_name_axis_month %}
        <!-- Reports -->
        <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Reports <span>/This Month</span></h5>
  
                <!-- Column Chart -->
                <div id="columnChart"></div>
  
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#columnChart"), {
                      series: [{
                        name: 'Sales',
                        data: {{ product_sales_axis_month | safe}}
                      }, {
                        name: 'Month Target',
                        data: {{ product_month_target_axis_month | safe}}
                      }],
                      chart: {
                        type: 'bar',
                        height: 350
                      },
                      plotOptions: {
                        bar: {
                          horizontal: false,
                          columnWidth: '55%',
                          endingShape: 'rounded'
                        },
                      },
                      dataLabels: {
                        enabled: false
                      },
                      stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                      },
                      xaxis: {
                        categories: {{ product_name_axis_month | safe }},
                        title: {
                          text: 'Products'
                        }
                      },
                      yaxis: {
                        title: {
                          text: '$ SALES'
                        }
                      },
                      colors: ['#00FF00', '#808080'],
                      fill: {
                        opacity: 1
                      },
                      tooltip: {
                        y: {
                          formatter: function(val) {
                            return "$ " + val + ""
                          }
                        }
                      }
                    }).render();
                  });
                </script>
                <!-- End Column Chart -->
  
              </div>
            </div>

          </div>
        </div><!-- End Reports -->
        {% else %}
        <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">No Data Found!! Check the database</div>
        {% endif %}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script>
          (function($) {
            //Ajax 
            $('#GenerateTegralProduct').bind('click', function() {
              jQuery.ajax({
                url: "{{ url_for('tg_product_refresh') }}",
                dataType: 'json',
                cache: false,
                beforeSend: function(){
                  $('.generate-spinner').show();
                },
                complete: function(){
                  $('.generate-spinner').hide();
                },
                success:function(data){
                  if( data.result == 'SUCCESS') {
                    $('#result').prepend('<div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">Successfully migrated! Reloading page after 3 seconds...<button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                    setTimeout(function () {
                      location.reload();
                    }, 3000);
                  }
                  else {
                    $('.alert-danger').hide();
                    $('#result').prepend('<div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">Error Connecting to API!<button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                  }
                },
                async: "false",
              });
              return false;
            });
          })(jQuery);
        </script>

      </div>
    </div><!-- End Left side columns -->

    <!-- Last Updated Card -->
    <div class="col-xxl-2 col-md-6">

      <div class="card info-card customers-card">
        <div class="card-body">
          <h5 class="card-title" style="padding-bottom:0;">Last Updated:</h5>

          <div class="d-flex align-items-center">
            <div>
              <small>{{refresh_flag}}</small>

            </div>
          </div>

        </div>
      </div>

    </div><!-- Last Updated Card  -->

  </div>
</section>
{% endblock content %}

