{% extends "layout.html" %}
{% block content %}
<div class="pagetitle">
        <div class="row">
        <div class="col-md-10">
        <h1>{{title}}</h1>
        </div>
    </div>
</div><!-- End Page Title -->
<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

        <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{{ url_for('static', filename='assets/img/profile-img.jpg') }}" alt="Profile" class="rounded-circle">
            <h2>{{ userlogin }}</h2>
            </div>
        </div>

        </div>

        <div class="col-xl-8">

        <div class="card">
            <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

            </ul>
            <div class="tab-content pt-2">

                <div class="tab-pane show active fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form method="POST" action="" id="change-pass-form">
                    {{ form.hidden_tag() }}
                    <div class="row mb-3">
                    {{ form.password.label(class="col-md-4 col-lg-3 col-form-label") }}
                    <div class="col-md-8 col-lg-9">
                        {{ form.password(class="form-control") }}
                    </div>
                    </div>

                    <div class="row mb-3">
                    {{ form.confirm_password.label(class="col-md-4 col-lg-3 col-form-label") }}
                    <div class="col-md-8 col-lg-9">
                        {{ form.confirm_password(class="form-control") }}
                    </div>
                    </div>
                    <div class="text-center" style="margin-bottom: 20px;">
                        <button class="btn btn-primary"><span class="spinner-border spinner-border-sm generate-spinner" role="status" aria-hidden="true" style="display: none;"></span> Change Password</button>
                    </div>
                </form><!-- End Change Password Form -->
                <div id="result"></div>
                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                <script>
                    (function($) {
                        $('#change-pass-form').submit(function (e) {
                            var url = "{{ url_for('password_change_process') }}"; // send the form data here.
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: $(this).serialize(), // serializes the form's elements.
                                cache: false,
                                beforeSend: function(){
                                    $('.generate-spinner').show();
                                },
                                complete: function(){
                                    $('.generate-spinner').hide();
                                },
                                success: function (data) {
                                    $('.alert-danger').remove();
                                    $('#add-product-cat-form input').removeClass('invalid-field');
                                    if( data.result == 'SUCCESS') {
                                        $('#result').prepend('<div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">Successfully Added! Reloading after 3 seconds<button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                                        setTimeout(function () {
                                            location.reload();
                                        }, 3000);
                                    }
                                    else {
                                        $('#result').prepend('<div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">Password Mismatched!<button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                                    }
                                }
                            });
                            e.preventDefault(); // block the traditional submission of the form.
                        });
                
                        // Inject our CSRF token into our AJAX request.
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                                }
                            }
                        })
                    })(jQuery);
                </script>

                </div>

            </div><!-- End Bordered Tabs -->

            </div>
        </div>

        </div>
    </div>
</section>
{% endblock content %}

